requests
feedparser
PyYAML
transformers
torch
sentence-transformers
graphviz
streamlit
beautifulsoup4
--extra-index-url https://download.pytorch.org/whl/cpu
sentencepiece @ https://github.com/google/sentencepiece/releases/download/v0.1.99/sentencepiece-0.1.99-cp310-cp310-manylinux_2_17_x86_64.whl
